@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

html {
  scroll-behavior: smooth;
}

.grey {
  color: #6d6d6d;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-bottom: 0;
}

.footer .left-menu,
.right-menu {
  display: flex;
}

.footer .left-menu li {
  padding-right: 2rem;
}

.footer .right-menu li {
  padding-left: 2rem;
}

.center {
  display: flex;
}

.center a {
  margin: auto;
  font-size: 2rem;
}

.container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas: "main-panel side-top"
    "main-panel side-middle"
    "main-panel side-bottom"
    "page-footer page-footer";
  grid-template-columns: 75% auto;
  grid-template-rows: 30% 30% auto 50px;
}

.container>div {
  border: 1px dashed #888;
}

.main-panel {
  grid-area: main-panel;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.side-top {
  grid-area: side-top;
  padding-bottom: 1rem;
}

.side-middle {
  grid-area: side-middle;
  padding-bottom: 1rem;
}

.side-bottom {
  grid-area: side-bottom;
  padding-bottom: 1rem;
}

.page-footer {
  grid-area: page-footer;
}

img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
}